{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>To Do List</title> 



</head>
<body>
    
    <div class="container">
        <h1>SuJF To Do Lists App</h1>

        {% if 'task-update' in request.path %}
            <h2>Task Edit</h2>
        {% elif 'task-create' in request.path%}
            <h2>Task Create</h2>
        {% elif 'login' in request.path%}
            <h2>Log in</h2>
        {% elif 'register' in request.path%}
            <h2>Register</h2>
        {% elif 'task-delete' in request.path%}
            <h2>Delete Confirmation</h2>
        {% else %}
            <h2>Task List</h2>
        
        {% endif %}

        {% block content %}
                    
        {% endblock content %}
    </div>

</body>
</html>